* { margin: 0; padding: 0; box-sizing: border-box; }
body {
   font-family:"Courier New";
   background-color: black;
   z-index: 1;
}
#messages { list-style-type: none; margin: 0; padding: 0; }
#messages li { padding: 5px 10px; }
#messages li:nth-child(odd) { background: #eee; }

#content {
    width: 100%;
    height: 100%;
}

#columns {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.column {
  display: flex;
  flex-direction: column;
  height: inherit;
  justify-content: space-between;
}

.skinny-column {
    flex-shrink: 1;
}

.fat-column {
    flex-grow: 2;
}

#planetary-monitor {

}

#boxes td div {
  color:lime;
  background-color: green;
  margin: 2px;
}


#boxes td{
  font-size:14px;
  vertical-align:middle;
  text-align:center;
}

.panel {
  border: 5px double lime;
  margin: 5px;
  z-index: 3;
  border-radius: 5px;
  box-shadow: inset 0 -1px 0 0 #000, inset 0 1px 0 0 #000, 0 1px 0 0 #000, 0 -1px 0 0 #000;
}

#boxes table {
    width: 100%;
}

#console {
    font-size: 3vw;
    line-height: 3vw;
}

#console2 {
    font-size: 9px;
    line-height: 10px;
    height: 232px;
    z-index: 2;
}

.holder {
  min-height:100px;
  flex-grow: 1;
}

#countdown {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: black;
    text-align: center;
    visibility: visible;;
    z-index: -1;
}

#timer {
  color:lime;
  font-size:80px;
  font-family: 'Courier New';
}

button {
    width: 60px;
    height: 60px;
    color: lime;
    background: green;
    margin: 20px;
}

.blink {
  animation-duration: 400ms;
  animation-name: blink;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes blink {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}
